@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
#webfont {font-family: "Noto Sans KR", sans-serif;}

#left {text-align: left;}
#centre {text-align: center;}
#right {text-align: right;}