 /* TODO: 제목디자인1 */
 .title {
    background-color: green;
    color: white;
 }
 /* TODO: 제목디자인2 */
 .title2 {
    background-color: yellow;
    color: black;
 }
 /* TODO: 제목디자인3 */
 .title3 {
    background-color: blue;
    color: white;}

    