

/* 탭 전체 컨테이너 */
.tab-KGH {
  max-width: 95vw; /* 너비 조절 */
  margin: 0 auto;
  
}

/* 탭 메뉴 스타일 */
.menu-KGH {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu-KGH li {
  padding: 10px 15px;
  background-color: #eee;
  border-radius: 5px;
  transition: 0.3s; 
  width: 100px;
  text-align: center;
  /* what is transition? possible transition time taken for the colour change*/
}

.menu-KGH li.on-KGH {
  background-color: #6bbcff;
  color: white;
  font-weight: bold;
}

/* 탭 콘텐츠 스타일 */
.content-KGH > div {
  display: none;
}

.content-KGH > div.on-KGH {
display: block;
 gap: 15px;

}

/* 상품 아이템(이미지+텍스트) 스타일 */
.content-KGH > div {
  display: none;
  width: calc(25% - 15px); /* 한 줄에 4개 배치 */
  text-align: center;
  font-size: 14px;
}

/* 이미지 스타일 (HTML style 태그 내용 통합) */
.content-KGH img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media screen and (max-width: 375px){

  /* 상품 아이템(이미지+텍스트) 스타일 */
.content-KGH  {
 
  width: calc(50% - 15px); /* 한 줄에 2개 배치 */
  text-align: center;
  font-size: 14px;
}

/* 이미지 스타일 (HTML style 태그 내용 통합) */
.content-KGH img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* 탭 전체 컨테이너 */
.tab-KGH {
  min-width: 375px; /* 너비 조절 */
  margin: 0 auto;
}
}					

