th {
    background-color: antiquewhite;
    font-weight: bold;
}

table, tr, td, th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

td {
    font-size: 0.7rem;
}

