#abc1 {
  margin: 0px auto;
}
#cab1 {
  color: gray;
  font-weight: 500;
}
#qwe {
  text-decoration: underline;
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: black;
}

a p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 보여줄 줄 수 */
  -webkit-box-orient: vertical;
}

a img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.d1 {
  color: gray;
}
.e1 {
  background-color: lightblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 30%;
  text-align: center;
}
