#list-Esther-KGH li {
  list-style-type: none;
}

#list-Esther-KGH li {
  display: inline-block;
  padding: 6px 10px;
  margin: 4px;
  border: 1px solid #ccc;
  font-size: 13px;
  cursor: pointer;
}

#swip_Esther-KGH {
  display: inline-block;
}

/* 탭 전체 컨테이너 */
.tab-KGH {
  max-width: 1000px; /* 너비 조절 */
  margin: 0 auto;
}

/* 탭 메뉴 스타일 */
.menu-KGH {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.menu-KGH li {
  padding: 10px 15px;
  background-color: #eee;
  border-radius: 5px;
  transition: 0.3s;
}

.menu-KGH li.on-KGH {
  background-color: #6bbcff;
  color: white;
  font-weight: bold;
}

/* 탭 콘텐츠 스타일 */
.content-KGH > div {
  display: none;
}

.content-KGH > div.on-KGH {
 display: flex;
 gap: 15px;

}

/* 상품 아이템(이미지+텍스트) 스타일 */
.content-KGH span {
  display: block;
  width: calc(25% - 15px); /* 한 줄에 4개 배치 */
  text-align: center;
  font-size: 14px;
}

/* 이미지 스타일 (HTML style 태그 내용 통합) */
.content-KGH img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media screen and (max-width: 375px){

  /* 상품 아이템(이미지+텍스트) 스타일 */
.content-KGH  {
  display: block;
  width: calc(25% - 15px); /* 한 줄에 4개 배치 */
  text-align: center;
  font-size: 14px;
}

/* 이미지 스타일 (HTML style 태그 내용 통합) */
.content-KGH img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}


}					

