.mySwiper-KJW {
  width: 100%;
  height: 600px;
  margin: 50px auto;
}

.mySwiper-KJW .swiper-slide {
  border-radius: 12px;
  overflow: hidden;
  background: #f2f2f2;
}

.mySwiper-KJW .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.mySwiper-KJW .swiper-pagination {
  right: 10px !important;
}