.example{
width: 100px;
height: 100px;
background-color: lightblue;

margin: 5px;
}

.example2{
width: 100px;
height: 100px;
background-color: lightgreen;
display: none;
/* 성격개조 속성에 사라지게 하는 것 드롭다운 메뉴*/
margin: 5px;

}

