.example li{
    /* 세로메뉴를 가로로 바꾸기 */
    /* 보통 가로 메뉴에 쓰인다. 가로로 바꾸는 메뉴는 여러가지 있다. 보조적인 방법 */
    display: inline-block;
    /* 성격을 바꾼다 */
    /* 바깥여백 */
margin-left: 1rem 
/* 1글자 폰트가 1rem */
/* 1 rem = 16px */
    
}