.quiz {
width: 100px;
height: 100px;
background-color: orange;
position: absolute;
top: 100px;
left: 100px;
z-index: 3;
}

.quiz2{
    width: 100px;
height: 100px;
background-color: green;
position: absolute;
top: 150px;
left: 150px;
z-index: 4;
}