.container {
display: flex;

width: 60vw;
background-color: lightgray;
gap: 10px;
margin: 0 auto;
flex-wrap: wrap;

}

.example {
    height: 300px ;
    
    background-color: blue;
    flex: 0 0 calc(33% - 10px);
}