

.container{
    width: 60vw;
    height: 90vh;
    background-color: lightgray;
    display: flex;
    justify-content: start;
    align-items: end;
}

.example{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin: 5px;

}
