.hello{background-color:aqua;
width: 100px;
height: 100px;
}
.hello2{background-color: blue;
    width: 100px;
    height: 100px;
}

.bye{background-color: yellow;
height: 100px;
width: 100px; ;}

.bye2{background-color:  red;

}