body {
  background-color: lightgoldenrodyellow;
}
#button {
  background-color: #4169E1;
  border: 1px solid #4169E1;
  color: white;
  width: 140px;
  height: 25px;
  padding : 8px;
  text-align: center;
}
